[Desktop Entry]
Name=JModules
Comment=Helps to reduce size of Java distributed bundles.
Exec=jmodules
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;Utility;Programming;
Keywords=development,productivity,size,java
